:root {
    /* Primary */
    --soft-blue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);

    /* Neutral */
    --very-dark-blue-main : hsl(217, 54%, 11%);
    --very-dark-blue-card : hsl(216, 50%, 16%);
    --very-dark-blue-line : hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);

    --body-font-size: 18px;
}

html, body {
    height: 100%;
}

body {
    /* background-color: var(--very-dark-blue-main); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: var(--body-font-size);
    min-width: 0;
}

.card {
    flex: 1;
    background-color: var(--very-dark-blue-card);
    display: flex;
    flex-direction: column;
    min-width: 0;
    /* Desktop */
    /* max-inline-size: 21.82rem; */
    /* max-block-size: 37.35rem; */
    border-radius: 15.15px;
    /* padding-inline: 1.5rem; */
    padding-block: 1.6rem;

    /* Mobile */
    max-inline-size: 20.5rem;
    max-block-size: 34rem;
    border-radius: 15.15px;
    padding-inline: 1.6rem;
    padding-block: 1.55rem;
  
}

.card-img>img {
    aspect-ratio: none;
    max-width: 100%;
    border-radius: 8px;
}
.card-para {
    /* Desktop */
    /* padding-block-end: 1.4rem; */
    /* line-height: 1.45; */
    /* font-size: 1.125rem; */

    /* Mobile */
    padding-block-end: 1rem;
    line-height: 1.5;
    font-size: 1rem;

    color: hsl(216.43, 22.95%, 52.16%);
}
.card-title {
    font-size: 1.39rem;
    /* Desktop */
    /* padding-block: 1.7rem 1.3rem; */

    /* Mobile */
    padding-block: 1.7rem 1rem;

    letter-spacing: 0.018rem;
    color: var(--white);
}
/* footer {
    justify-self: flex-end;
    flex: 1;
} */

.icon-clock>p {

    /* Desktop */
    /* padding-inline-start: 0.35rem; */
    /* font-size: 1.06rem; */

    /* mobile */
    padding-inline-start: 0.35rem;
    font-size: 0.95rem;
    flex: 1;
   justify-self: flex-end;
 
   color: hsl(218.96, 38.31%, 60.59%);
}
.icon-con {
    display: flex;
    
   
}
.icons-con {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block-start: 0.05rem;
    padding-block-end: 1.60rem;
    border-bottom: 0.1rem solid var(--very-dark-blue-line);
   
}
.icon-eth>p {
    /* Desktop */
    /* padding-inline-start: 0.43rem; */
    /* font-size: 1rem; */
    padding-inline-start: 0.27rem;
    font-size: 0.95rem;
    color: var(--cyan);
    flex: 1;
}

.outfit-300 {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}
.outfit-400 {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.outfit-600 {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
.profile-con {
    display: flex;
    padding-block-start: 1rem;
} 
.profile-con>img {
    border: 0.1rem solid var(--white);
    border-radius: 15.5px;
}
.profile-con>p {
    align-self: center;
    padding-inline-start: 1.16rem;
    font-size: 1.005rem;
    color: var(--soft-blue);
    line-height: 1.1;
   
}

.profile-con>p>span {
    color: var(--white);
}