:root {
    /* Primary */
    --soft-blue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);

    /* Neutral */
    --very-dark-blue-main : hsl(217, 54%, 11%);
    --very-dark-blue-card : hsl(216, 50%, 16%);
    --very-dark-blue-line : hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);

    --body-font-size: 18px;
}

html, body {
    height: 100%;
}

body {
    background-color: var(--very-dark-blue-main);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: var(--body-font-size);
    min-width: 0;
}

.card {
    flex: 1;
    background-color: var(--very-dark-blue-card);
    display: flex;
    flex-direction: column;
    min-width: 0;
   

   
    max-inline-size: clamp(20.5rem, 20.0423rem + 1.9531vw, 21.8rem);
    max-block-size: clamp(34rem, 32.8204rem + 5.0329vw, 37.35rem);
    padding-inline: clamp(1.5rem, 1.6352rem + -0.1502vw, 1.6rem);
    padding-block: clamp(1.55rem, 1.5324rem + 0.0751vw, 1.6rem);

    border-radius: 15.15px;
  
  
}

.card-img>img {
    aspect-ratio: none;
    max-width: 100%;
    border-radius: 8px;
}
.card-para {

    padding-block-end: clamp(1rem, 0.8592rem + 0.6009vw, 1.4rem);
    line-height: clamp(1.45rem, 1.5176rem + -0.0751vw, 1.5rem);
    font-size: clamp(1rem, 0.9560rem + 0.1878vw, 1.125rem);


    color: hsl(216.43, 22.95%, 52.16%);
}
.card-title {
    font-size: 1.39rem;
  

    padding-block-start: 1.7rem;
    padding-block-end: clamp(1rem, 0.8944rem + 0.4507vw, 1.3rem); 
    letter-spacing: clamp(0rem, 0.0243rem + -0.0270vw, 0.018rem);;

    color: var(--white);
}

.card-title:is(:hover, :focus) {
    cursor: pointer;
    color: var(--cyan);
}

.icon-clock>p {

   
    padding-inline-start: 0.35rem;
    font-size: clamp(0.95rem, 0.9113rem + 0.1653vw, 1.06rem);
    flex: 1;
    justify-self: flex-end;
 
    color: hsl(218.96, 38.31%, 60.59%);
}
.icon-con {
    display: flex;
    
   
}
.icons-con {
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    margin-block-start: clamp( 0.05rem, 0.4049rem + -0.3944vw,  0.3125rem);
    padding-block-end: clamp(1.0625rem, 0.8732rem + 0.8075vw, 1.6rem);
   
    border-bottom: 0.1rem solid var(--very-dark-blue-line);
   
}
.icon-eth>p {
    

    padding-inline-start: clamp(0.27rem, 0.2137rem + 0.2404vw, 0.43rem);
    font-size: clamp(0.95rem, 0.9324rem + 0.0751vw, 1rem);
  
    color: var(--cyan);
    flex: 1;
}

.outfit-300 {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}
.outfit-400 {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.outfit-600 {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
.profile-con {
    display: flex;
 
    padding-block-start: 1rem;
} 
.profile-con>img {
    border: 0.1rem solid var(--white);
    border-radius: 15.5px;
}
.profile-con>p {
    align-self: center;


    font-size: clamp(0.95rem, 0.9306rem + 0.0826vw, 1.005rem);
    padding-inline-start: 1.16rem;
    line-height: 1.1;
    
    color: var(--soft-blue);
   
}

.profile-con>p>span {
    color: var(--white);
}
.profile-con>p>span:is(:hover, :focus) {
    cursor: pointer;
    color: var(--cyan);
}