:root {
    /* Primary */
    --soft-blue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);

    /* Neutral */
    --very-dark-blue-main : hsl(217, 54%, 11%);
    --very-dark-blue-card : hsl(216, 50%, 16%);
    --very-dark-blue-line : hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);

    --body-font-size: 18px;
}

html, body {
    height: 100%;
}

body {
    background-color: var(--very-dark-blue-main);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: var(--body-font-size);
    min-width: 0;
}

.card {
    flex: 1;
    max-inline-size: 21.82rem;
    max-block-size: 37.35rem;
    background-color: var(--very-dark-blue-card);
    display: flex;
    flex-direction: column;
    min-width: 0;
    border-radius: 15.15px;
    padding-inline: 1.5rem;
    padding-block: 1.6rem;
    /* justify-content: space-between; */
    /* justify-content: space-evenly; */
}
.card-img {
    /* border-radius: 15px; */
}
.card-img>img {
    aspect-ratio: none;
    max-width: 100%;
    
    
    border-radius: 8px;
}
.card-para {
    padding-block-end: 1.4rem;
    line-height: 1.45;
    color: hsl(216.43, 22.95%, 52.16%);
}
.card-title {
    font-size: 1.39rem;
    padding-block: 1.7rem 1.3rem;
    letter-spacing: 0.018rem;
    color: var(--white);
}
footer {
    /* justify-self: flex-end; */
    /* flex: 1; */
   
}
.icon-con {
    display: flex;

}
.icons-con {
    display: flex;
    justify-content: space-between;
}
.icon-eth>p {
    padding-inline-start: 0.43rem;
    font-size: 1rem;
    color: var(--cyan);
}

.outfit-300 {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}
.outfit-400 {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.outfit-600 {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
.profile-con {
    display: flex;
}